* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}
img {vertical-align: middle;}

@font-face {
	font-family: Neue;
	src: url('../fonts/BebasNeue-Regular.ttf');
}

:root {
	--white-text : #f2f2f2;
	--light-grey:#bbb;
	--dark-grey: #717171; 
}

/* Slideshow container */
.slideshow-container {
  margin: auto;
  position: relative;
  width: 20%;
}

.slideshow-container img {
  max-width: 100%;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-family: Neue;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  animation-name: breath;
  animation-duration: 2s;
}


/* Button styling */

.button {
  backface-visibility: hidden;
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #f1f1f1;
  background: linear-gradient( #3dc563 20.343056921228012%, #43cc6a 100%);
  border: 0px solid #444444;
  border-width: 0px 0px 0px 0px;
  border-radius: 4px;
  color: #ffffff;
  font-size: 1vw;
  font-family: Neue;
  line-height: 2vw;
  width: 50%;
}

.button:hover {
  background: linear-gradient( #4dde76 20.343056921228012%, #4dde76 100%);
}

.button:active {
  background: yellow;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.text {
  color: var(--white-text);
  font-size: 15px;
  font-family: Neue;
  padding: 6px;
  position: absolute;
  top: 1%;
  width: 100%;
  text-align: center;
}

.numbertext {
  color: var(--white-text);
  font-size: 12px;
  font-family: Neue;
  padding: 8px 12px;
  position: absolute;
  top: 0;
  animation-name: breath;
  animation-duration: 2s;
}

.dot {
  cursor: pointer;
  max-height: 15px;
  max-width: 15px;
  height: 10px;
  width: 10px;
  margin: 0 0px;
  background-color: var(--light-grey);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: var(--dark-grey);
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes breath {
  0% {color:rgb(200, 200, 200);}
  20% {color:rgb(210, 210, 210);}
  40% {color:rgb(225, 225, 225);}
  60% {color:rgb(235, 235, 235);}
  80% {color:rgb(245, 245, 245);}
  100% {color:rgb(255, 255, 255);}
}

@media only screen and (max-width: 300px) {
  .prev, .next, .text, .btn {font-size: 11px}
}